 <!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Busqueda de Estudiantes</title>
</head>
<script type="text/javascript">
	$(document).ready(function(){
		var table = $('#tablaBusquedaA').DataTable( {
	        "processing": true,
	        "serverSide": true,
	        "ajax": "./cargarBusquedaA",
	        "language": {
	            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
	        },
	        "pageLength": 5,
	        "columnDefs": [ {
	            "targets": 0,
	            "data": null,
	            "defaultContent": "<button class='btn btn-info' title='Editar Alumnos'><i class='fa fa-pencil-alt'></i></button> "
	        }]
	    });
		
		$('#tablaBusquedaA tbody').on( 'click', 'button', function () {
	        var data = table.row( $(this).parents('tr') ).data();
	        	location.href = './editarBusquedaA?id=' + data[0];
	    } );
	});
</script>
<body>
	
	<table class="table table-bordered">
		<thead class="thead-dark">
			<th>Accion</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Materias aprobadas</th>
			<th>Materias reprobadas</th>
			<th>Promedio</th>
		</thead>
		<th:block th:each="expediente, row: ${expedientes}">
			<tr>
				<td th:text="${expediente.accion}"/>
				<td th:text="${expediente.nombres}"/>
				<td th:text="${expediente.apellidos}"/>
				<td th:text="${expediente.materiasA}"/>
				<td th:text="${expediente.materiasR}"/>
				<td th:text="${expediente.promedio}"/>
			</tr>
		</th:block>
	</table>
	
	<br>
	<br>
</body>
</html>