<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Catalogo Usuarios del Sistema</title>
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="js/demo/datatables-demo.js"></script>
<script src="js/demo/chart-area-demo.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	//Desactivar/Activar estado centro educativo
	function cambiarEstadoForm(el) {
		//Referencias al ID de los input

		$.ajax({
			contentType : 'application/json; charset=utf-8',
			type : 'post',
			url : '/cambiarEstadoCuenta',
			dataType : 'json',
			data : JSON.stringify({
				'idCuenta' : parseInt(el)
			}),
			success : function(res) {
				window.location.reload();
			},
			error : function(e) {
				alert(e);

			}

		});

	}
</script>
</head>
<body>
	<div>
		<h1>Listado de Usuarios</h1>
		<table class="table table-bordered" id="tablaCE">
			<thead class="thead-dark">
				<th>Codigo</th>
				<th>Usuario</th>
				<th>Estado</th>

				<th>Acciones</th>

			</thead>
			<th:block th:each="cuenta, row: ${cuentas}">
				<tr>
					<td th:text="${cuenta,.idCuenta}" />
					<td th:text="${cuenta,.nombreUsuario}" />
					<td th:text="${cuenta,.estado}" />

					<td>
					<td>
						<button th:id="${cuenta.idCuenta}"
							onclick="cambiarEstadoForm(this.id)"
							th:value="${cuenta.idCuenta}">Cambiar estado</button>
					</td>
					<td>
						<form th:action="@{/EditarUsuario}" th:object="${cuenta}"
							method="post">
							<select th:field="*{idCuenta}" style="display: none">
								<option th:text="${cuenta.idCuenta}"
									th:value="${cuenta.idCuenta}">
							</select> <input type="submit" th:value="${cuenta.idCuenta}">
						</form>
					</td>

					</td>

				</tr>


			</th:block>


		</table>
	</div>

	<script th:if="${msg == '1'}">
		swal(
				"¡Éxito!",
				"Se ha registrado el usuario, espere a que su usuario sea habilitado para iniciar sesión.",
				"success");
	</script>

	<script th:if="${msg == '2'}">
		swal(
				"Algo ha salido mal...",
				"Parece ser que ese usuario ya ha sido registrado, prueba con otro.",
				"error");
	</script>

	<script th:if="${msg == '3'}">
		swal(
				"Algo ha salido mal...",
				"Ha ocurrido un error, revisa que la información ingresada sea correcta.",
				"error");
	</script>

</body>
</html>