<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Coordinador</title>

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-padding w3-card"
			style="letter-spacing: 4px;">
			<a href="#home" class="w3-bar-item w3-button">AREA DEL COORDINADOR</a>
			<!-- Right-sided navbar links. Hide them on small screens -->
			<div class="w3-right w3-hide-small">
				<a href="./pantallaInicialExpediente" class="w3-bar-item w3-button">Expediente de Alumnos</a>
				<a href="./pantallaInicialExpediente" class="w3-bar-item w3-button">Materias cursadas</a>
			</div>
		</div>
	</div>
	<br><br><br>

	<div id="content-wrapper">

		<div class="container-fluid">
			<h1 class="mt-4">Expediente de Alumnos</h1>
			<div class="card mb-4">
				<div class="card-body">
					<form method="post" th:action="@{/expedientesNombre}"
						th:object="${expediente}">
						<div class="form-group">
							<div class="form-row">
								<span>Buscar alumno por:&nbsp;&nbsp;&nbsp;</span> <select
									 class="form-control" name="tipo" style="width: 300px;">
									<option value="1">Nombre</option>
									<option value="2">Apellido</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control py-4" id="valor1" type="text"
								placeholder="Valor de busqueda:" style="width: 400px"
								name="valor1" />
						</div>
						<div class="col">
							<input type="submit" class="btn btn-primary" value="Buscar">
						</div>
					</form>
					<div class="col">
							<br>
							<input type="submit" class="btn btn-success"
								value="Agregar nuevo Expediente"
								onclick="window.location.href='./ingresarExpediente'">
						</div>
				</div>
			</div>


		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /.content-wrapper -->
</body>
</html>