 <!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Materia de Estudiante</title>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
</head>

<body>
    <div class="card-body">
      <input type="button" class="btn btn-warning" value="Nuevo Materia al Estudiante" onclick="location.href='./nuevaMExp'"></div>
    </div><br>
	<p th:if="${resultado == 1}" class="mb-0">Escuela guardado con &eacute;xito</p><br/>
		<section class="d-flex">
		<div class="container align-self-center">
			<div class="row p-3">
				<div class="col-12">
					<table class="table table-bordered" id="tablaExpM">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Accion</th>
								<th scope="col">Materia</th>
								<th scope="col">A&ntilde;o</th>
								<th scope="col">Ciclo
								</th>
								<th scope="col">Nota<br> 
								</th>
								<th scope="col">Resultado</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="e, row: ${expedientes}">
								<tr>
									<td>
										<form th:action="@{/editarMExp}" th:object="${e}"
											method="post">
											<button class='btn btn-info' name="id"
												th:name="id" th:value="*{idMateriaexp}"><i class="fas fa-pencil-alt"></i></button>
										</form>
									</td>
									<td th:text="${e.materia.nombre}" />
									<td th:text="${e.anio}" />
									<td th:text="${e.ciclo.ciclo}" />
									<td th:text="${e.nota}" />
									<td th:text="${e.ResultadoDelegate}" />
								</tr>
							</th:block>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</section>
	
	<br>
	<br>

	
    <div class="card-body">
      <input type="button" class="btn btn-secondary" value="Regresar" onclick="location.href='./indexAdmin'" /><br> <br>
    </div>

</body>
</html>