<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Modificar Centro Educativo</title>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  
  <link rel="stylesheet" type="text/css" media="all" href="../css/ui/sweet-alert.css" th:href="@{/css/ui/sweetalert.css}" />
  <script type="text/javascript" th:src="@{/js/ui/sweetalert.min.js}"></script>
    
</head>
<script type="text/javascript">
	
</script>
<body>

<div>
    <h1> Editar Centro Educativo </h1><br> <br>   
    <form method="post" th:action="@{/guardarEscuelasn}" th:object="${escuelas}" >
    	<input type="button" class="btn btn-secondary" value="Regresar" onclick="location.href='./escuelasTable'" /><br> <br>
        <input class="form-control" type="hidden" th:field="*{idEscuela}">
        
        <td><label class="col-sm-2 col-form-label">Nombre: </label>
        <input class="form-control" type="text" th:field="*{nombre}"> <br> <br>
        
        <td><label class="col-sm-2 col-form-label">Descripcion: </label>
        <input class="form-control" type="text" th:field="*{descripcion}"> <br> <br>
        
        <Label class="form-check-label">Municipio:</Label>
        <select th:field="*{municipio.idMunicipio}">
            <option th:each="m: ${municipios}" th:value="${m.idMunicipio}" th:text="${m.nombre}"><br><br>
        </select>
        
        <label>Estado:</label>
        <input type="checkbox" id="estado"  th:field="*{estado}" > Activo
        <input class="btn btn-success" type="submit" value="Guardar Cambios">

    </form>
</div>

</body>
</html>