<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Modificar Cuenta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  
  <link rel="stylesheet" type="text/css" media="all" href="../css/ui/sweet-alert.css" th:href="@{/css/ui/sweetalert.css}" />
  <script type="text/javascript" th:src="@{/js/ui/sweetalert.min.js}"></script>
</head>
<script type="text/javascript">
	
</script>
<body>

<div>
    <h1> Editar Cuenta de Usuario </h1>
    <form th:action="@{/guardarCuentan}" th:object="${cuenta}" method="post">
        <table>
            <tr>
                <td><label for="idCuenta"> Id Usuario: </label></td>
                <td><input class="form-control" type="text" id="idCuenta" th:field="*{idCuenta}" readonly> </td>
            </tr>
            <tr>
                <td><label for="nombreUsuario">Usuario: </label></td>
                <td><input class="form-control" type="text" id="nombreUsuario" th:field="*{nombreUsuario}" ><br><span th:errors="*{nombreUsuario}" style="color:  #e81505;"></span></td>
            </tr>
            <tr>
                <td><label for="nombre">Nombre: </label></td>
                <td><input class="form-control" type="text" id="nombre" th:field="*{nombre}" ><br><span th:errors="*{nombre}" style="color:  #E81505;"></span></td>
            </tr>           
            <tr>
                <td><label for="apellido">Apellido: </label></td>
                <td><input class="form-control" type="text" id="apellido" th:field="*{apellido}" ><br><span th:errors="*{apellido}" style="color:  #E81505;"></span></td>
            </tr>
             <tr>
                <td><label for="edad">Edad: </label></td>
                <td><input class="form-control" type="text" id="edad" th:field="*{edad}" readonly><br><span th:errors="*{edad}" style="color:  #E81505;"></span></td>
            </tr>
             <tr>
                <td><label for="departamento">Departamento: </label></td>
                <td><select th:field="*{idDpto.idDpto}">
            		<option th:each="d: ${dptos}" th:value="${d.idDpto}" th:text="${d.nombre}">
        			</select><br><span th:errors="*{idDpto}" style="color:  #E81505;"></span>
       			</td>
            </tr>            
            <tr>
                <td><label for="municipio">Municipio: </label></td>
                <td><select th:field="*{municipio.idMunicipio}">
            		<option th:each="m: ${municipios}" th:value="${m.idMunicipio}" th:text="${m.nombre}">
        			</select><br><span th:errors="*{idDpto}" style="color:  #E81505;"></span>
       			</td>
            </tr>
            <tr>
                <td><label for="tipo">Tipo de Cuenta:</label></td>
                <td><select th:field="*{idTipo.idTipo}">
            		<option th:each="t: ${tipoc}" th:value="${t.idTipo}" th:text="${t.nombre}">
        			</select><br><span th:errors="*{idTipo}" style="color:  #E81505;"></span>
       			</td>
            </tr>
            <tr>
                <td><label for="fechaNac">Fecha de nacimiento: </label></td>
                <td><input class="form-control" type="text" id="fechaNac" th:field="*{fechaNac}" ><br><span th:errors="*{fechaNac}" style="color:  #E81505;"></span>
                	<script type="text/javascript">
				        $(function () {
				            $('#fechaNac').datepicker({
				            	format: 'dd/mm/yyyy'
				            });
				        });
				    </script>
                </td>
            </tr>
            <tr>
                <td><label for="dir">Dirección: </label></td>
                <td><textarea id="dir" th:field="*{direccion}" rows="4" cols="50"></textarea><br><span th:errors="*{direccion}" style="color:  #E81505;"></span></td>
            </tr>
            <tr>
                <td><label>Estado:</label></td>
                <td><input class="form-check-input" type="checkbox" id="estado"  th:field="*{estado}" > Activo</td>
            </tr>
            <tr>
                <td><label>Descripcion:</label></td>
                <td><input class="form-control" type="text" th:field="*{descripcion}"> </td>
            </tr>
            <tr>
                <td><label for="contrasenia">Nueva Contraseña (No escribir si no se va a cambiar): </label></td>
                <td><input class="form-control" type="password" id="contrasenia" th:field="*{contrasenia}"  ><br></span></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-success" value="Guardar Cambios">
                <input type="button" class="btn btn-secondary" value="Regresar" onclick="location.href='./cuentaTable'" /><br> <br>
                </td>
            </tr>
            
        </table>
        <input type="hidden" id="clave" th:field="*{contrasenia}" ><br><span th:errors="*{contrasenia}" style="color:  #E81505; display:none;"></span></td>
    </form>
</div>

</body>
</html>