<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Editar Materias</title>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  
  <link rel="stylesheet" type="text/css" media="all" href="../css/ui/sweet-alert.css" th:href="@{/css/ui/sweetalert.css}" />
  <script type="text/javascript" th:src="@{/js/ui/sweetalert.min.js}"></script>
    
</head>
<body>

	<div>
		<h1>Nueva Materia</h1>
		<form method="post" th:action="@{/guardarMateriasn}" th:object="${materias}">
			<input type="button" class="btn btn-secondary" value="Regresar" onclick="location.href='./materiasTable'" /><br> <br>
			<input class="form-control" type="text" th:field="*{idMateria}" hidden="hidden">
			
			<label class="col-sm-2 col-form-label">Nombre: </label>
			<input class="form-control" type="text" th:field="*{nombre}"> 
			<br><span th:errors="*{nombre}" style="color:  #e81505;"></span><br>
			
			<label class="col-sm-2 col-form-label">Descripcion: </label>
			<input class="form-control" type="text" th:field="*{descripcion}">
			<br><span th:errors="*{descripcion}" style="color:  #e81505;"></span><br>
			
			
			<label>Estado:</label>
        	<input type="checkbox" id="estado"  th:field="*{estado}" > Activo
			<input type="submit" class="btn btn-success" value="Guardar Materia">

		</form>
	</div>

</body>
</html>