<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Nuevo Expediente</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Include Bootstrap Datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="js/demo/datatables-demo.js"></script>

<link rel="stylesheet" type="text/css" media="all"
	href="../css/ui/sweet-alert.css" th:href="@{/css/ui/sweetalert.css}" />
<script type="text/javascript" th:src="@{/js/ui/sweetalert.min.js}"></script>

<script>
        function LimpiarCampos(){
            document.getElementById("nombres").value="";
            document.getElementById("apellidos").value="";
            document.getElementById("numerocarnet").value="";
            document.getElementById("fechaNacimiento").value="";
            document.getElementById("direccion").value="";
            document.getElementById("telefonoFijo").value="";
            document.getElementById("telefonoMovil").value="";
            document.getElementById("nombrePadre").value = "";
            document.getElementById("nombreMadre").value="";
        }
    </script>
    
</head>

<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-padding w3-card"
			style="letter-spacing: 4px;">
			<a href="#home" class="w3-bar-item w3-button">AREA DEL
				COORDINADOR</a>
			<!-- Right-sided navbar links. Hide them on small screens -->
			<div class="w3-right w3-hide-small">
				<a href="./pantallaInicialExpediente" class="w3-bar-item w3-button">Expediente
					de Alumnos</a> <a href="./pantallaInicialExpediente"
					class="w3-bar-item w3-button">Materias cursadas</a>
					<a href="./index" class="w3-bar-item w3-button">Cerrar Sesion</a>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

	<form th:action="@{/guardarExpedienteN}" th:object="${expediente}"
		method="post">

		<div class="form-group col-md-6">
			<h1 class="mt-4">Expediente de Alumnos</h1>
		</div>

		<div class="form group">

			<div class="form-group col-md-6">
				<label>Nombres :</label><br> <input id = "nombres" class="form-control"
					type="text" th:field="*{nombres}" required><br> <span
					th:errors="*{nombres}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<label>Apellidos:</label><br> <input id = "apellidos" class="form-control"
					type="text" th:field="*{apellidos}" required><br> <span
					th:errors="*{apellidos}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<label>Numero de Carnet de minoridad:</label><br> <input id = "numerocarnet"
					class="form-control" type="text" th:field="*{numerocarnet}" required><br>
				<span th:errors="*{numerocarnet}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<label>Fecha de Nacimiento:</label><br> <input
					class="form-control" type="text" th:field="*{fechaNacimiento}" required><br>
				<span th:errors="*{fechaNacimiento}" style="color: #E81505;"></span>
			</div>
			<script type="text/javascript">
				$(function() {
					$('#fechaNacimiento').datepicker({
						format : 'dd/mm/yyyy'
					});
				});
			</script>
			<br>

			<div class="form-group col-md-6">
				<br> <label>Direccion:</label><br> <input id = "direccion"
					class="form-control" type="text" th:field="*{direccion}" required><br>
				<span th:errors="*{direccion}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<br> <label>Telefono fijo:</label><br> <input id = "telefonoFijo"
					class="form-control" type="number" th:field="*{telefonoFijo}" required><br>
				<span th:errors="*{telefonoFijo}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<br> <label>Telefono movil:</label><br> <input id = "telefonoMovil"
					class="form-control" type="number" th:field="*{telefonoMovil}" required><br>
				<span th:errors="*{telefonoMovil}" style="color: #E81505;"></span><br>
				<br>
			</div>

			<div class="form-group col-md-6">
				<label for="escuela">Institucion </label> <select id="escuela"
					class="form-control" th:field="*{cEscuela}">
					<option th:each="c : ${escuelas}" th:value="${c.idEscuela}"
						th:text="${c.nombre}"></option>
				</select>
			</div>

			<div class="form-group col-md-6">
				<label>Nombre del Padre:</label><br> <input id = "nombrePadre"
					class="form-control" type="text" th:field="*{nombrePadre}" required><br>
				<span th:errors="*{nombrePadre}" style="color: #E81505;"></span><br>
			</div>

			<div class="form-group col-md-6">
				<br> <label>Nombre de la Madre:</label><br> <input id = "nombreMadre"
					class="form-control" type="text" th:field="*{nombreMadre}" required><br>
				<span th:errors="*{nombreMadre}" style="color: #E81505;"></span><br>
				<br>
			</div>

		</div>
		<div class="form-group col-md-6">
			<input type="submit" class="btn btn-success"
				value="Guardar expediente">
				
			<button type="button" value="Limpiar" text="Limpiar" class="btn btn-warning" onclick="LimpiarCampos()">Limpiar</button>
		
			<input type="button" class="btn btn-secondary" value="Regresar"
				onclick="location.href='./pantallaInicialExpediente'" /><br> <br>
		</div>


	</form>

</body>
</html>
</html>