<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>

<!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">

	<p class="h4 mb-4">Registrarse</p>

	<div class="form-row mb-4">
		<div class="col">
			<!-- First name -->
			<input type="text" id="nombre" class="form-control"
				placeholder="Nombre">
		</div>
		<div class="col">
			<!-- Last name -->
			<input type="text" id="apellido" class="form-control"
				placeholder="Apellido">
		</div>
	</div>

	<!-- Username -->
	<input type="text" id="usuario" class="form-control mb-4"
		placeholder="Nombre de Usuario">

	<!-- Password -->
	<input type="password" id="contraseña" class="form-control"
		placeholder="Contraseña"
		aria-describedby="defaultRegisterFormPasswordHelpBlock"> <small
		id="contrasenia"
		class="form-text text-muted mb-4"> At least 8 characters and 1
		digit </small>

	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button"
			data-toggle="dropdown"> Rol <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">Administrador</a></li>
			<li><a href="#">Coordinador</a></li>
		</ul>
	</div>


	<!-- Sign up button -->
	<button class="btn btn-info my-4 btn-block" type="submit">Registrarse</button>

</form>
<!-- Default form register -->

</body>
</html>